<div class="menu-edit">
  <div class="menu-edit__header">
    {{> avatar}}
    <div class="menu-edit__text">
      <p class="menu-edit__name">{{name}}</p>
      <p class="menu-edit__cite">{{cite}}</p>
    </div>
  </div>
  <div class="menu-edit__body">
    <ul class="settings">
      <li class="settings__item">
         <div class="settings__icon"></div>
         <div class="settings__text">Создать новую группу</div>
      </li>
      <li class="settings__item">
         <div class="settings__icon"></div>
         <div class="settings__text">Выключить звук</div>
      </li>
      <li class="settings__item">
         <div class="settings__icon"></div>
         <div class="settings__text">Поменять тему</div>
         <div class="settings__toggle"></div>
      </li>
      <li class="settings__item">
         <div class="settings__icon"></div>
         <div class="settings__text">Настроить профиль</div>
      </li>
    </ul>
  </div>
</div>