.chat {
  --white: #fff;
  --text-theme: #262626;
  background-color: var(--color-light);
  width: 255px;
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  padding: 15px 0;
  margin-bottom: 16px;
  gap: 16px;
  transition: all 0.2s ease-in-out;

  div {
    pointer-events: none;
  }

  &:hover {
    padding: 16px;
    cursor: pointer;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transform: scale(1);
  }

  &__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.1;
    color: var(--color-dark);
  }

  &__isOnline {
    color: var(--color-dark-gray);
    font-weight: 400;
    font-size: 10px;
    line-height: 1.1;
    margin: 5px 0;
  }

  &__msg {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: var(--color-dark);
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
  }

  &__count {
    width: 16px;
    height: 16px;
    background-color: var(--color-accent);
    border-radius: 100%;
    font-weight: 500;
    font-size: 10px;
    line-height: 1;
    padding-top: 3px;
    box-sizing: border-box;
    text-align: center;
    color: var(--color-light);
  }

  &__time {
    color: var(--color-dark-gray);
    font-weight: 400;
    font-size: 10px;
    line-height: 1.1;
  }
}

.active {
  background-color: var(--color-dark);
  color: var(--color-light);
}