<div class="menu">
  <div data-component="popup"></div>
  <div class="menu__content">
    <div class="menu__header">
      <div class="menu__close"></div>
      <div class="menu__avatar">
        <div data-component="avatar"></div>
      </div>
      <div class="menu__text">
        <p class="menu__name">{{name}}</p>
        <p class="menu__status">{{status}}</p>
      </div>
    </div>
    <div class="menu__body">
      <ul class="settings">
        <li class="settings__item group_js">
          <div class="settings__icon icon-group"></div>
          <div class="settings__text">Создать группу</div>
        </li>
        <li class="settings__item sound_js">
          <div class="settings__icon icon-sound"></div>
          <div class="settings__text">Выключить звук</div>
        </li>
        <li class="settings__item thema_js">
          <div class="settings__icon icon-thema"></div>
          <div class="settings__text">Поменять тему</div>
          <div class="settings__toggle"></div>
        </li>
        <li class="settings__item  settings_js">
          <div class="settings__icon icon-settings"></div>
          <div class="settings__text">Настроить профиль</div>
        </li>
        <li class="settings__item exit_js" >
          <div class="settings__icon icon-exit"></div>
          <div class="settings__text">Выйти</div>
        </li>
      </ul>
    </div>
  </div>
  <div data-component="profile"></div>
</div>