.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  overflow: hidden;

  &__content {
    width: 334px;
    box-sizing: border-box;
    background-color: #262626;
    flex-direction: column;
    height: 100%;
    display: flex;
  }

  &_show {
    display: block;
  }

  &__header {
    background-color: #262626;
    color: #fff;
    border-radius: 30px 0 0 0;
    height: 220px;
    text-align: center;
    box-sizing: border-box;
    padding: 12px 25px;
  }

  &__close {
    width: 24px;
    height: 24px;
    background-image: url(../../images/close.svg);
    margin-left: auto;

    &:hover {
      opacity: .5;
    }
  }

  &__avatar {
    width: 120px;
    height: 120px;
    margin: auto;
  }

  &__body {
    background-color: #fff;
    color: #262626;
    border-radius: 30px 30px 0 30px;
    padding: 48px 32px;
    height: 100%;
  }

  &__text {
    margin: 10px 0;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding: 0;
    margin: 0;
  }

  &__city {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #999999;
  }
}

.settings {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #262626;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: #262626;
    box-sizing: border-box;
  }

  &__toggle {
    width: 30px;
    height: 30px;
    background-image: url(../../images/togle-icon.svg);
    margin-left: auto;
  }
}

.settings__item:hover .settings__icon {
  background-color: #ba46e2;
}

.settings__item:hover .settings__text {
  border-bottom: 2px solid #262626;
  box-sizing: border-box;
}
