.profile {
  background-color: #fff;
  border-radius: 0 30px 30px 0;
  padding: 40px 0;
  box-sizing: border-box;
  display: none;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;

  &_show {
    display: flex;
  }

  &__avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 64px;
  }

  &__form-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    position: relative;
    width: 80%;    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
  }

  &__field {
    border: none;
    outline: none;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 0.8;
    margin: 0;
    padding: 4px 8px;
    text-align: right;

    &::placeholder {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.1;
      color: #262626;
    }
  }

  &__text {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    color: #999999;
  }

  &__exit {
    font-weight: normal;
    font-size: 12px;
    line-height: 0.6;
    color: rgba(255, 0, 0, 0.8);
  }

  &__button {
    margin-top: 30px;
  }

  &__icon-exit {
    width: 16px;
    height: 16px;
    background-image: url(../../../static/images/exit-icon.svg);
  }

  &__text-exit,
  &__text-edit {
    display: inline-block;
    margin: 3px 0 0 24px;
    color: #262626;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
  }

  &__text-edit {
    width: 120px;
  }

  &__edit-password {
    width: 16px;
    height: 16px;
    background-image: url(../../../static/images/exit-icon.svg);
  }

  &__icon-edit {
    width: 16px;
    height: 16px;
    background-image: url(../../../static/images/edit-black-icon.svg);
    margin-bottom: 16px;
    
  }

  &__bottom {
     margin-top: 20px;
     width: 80%;
  }
}

.profile__icon-exit:hover .profile__text-exit {
  color: rgba(255, 0, 0, 0.8);
  border-bottom: 2px solid rgba(255, 0, 0, 0.8);
}

.profile__icon-edit:hover  .profile__text-edit  {
  color: #BA46E2;
  border-bottom: 2px solid #BA46E2;
}

