.text-area {
  height: 100px;
  width: 867px;
  box-sizing: border-box;
  margin-left: auto;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  position: relative;

  &__field {
    width: 812px;
    height: 40px;
    background: #e1e1e1;
    border-radius: 20px;
    margin: 20px auto;
    border: none;
    padding: 0;
    box-sizing: border-box;
    display: block;
  }

  &__icon-attach {
    width: 20px;
    height: 22px;
    position: absolute;
    background-image: url(../../images/attach-icon.svg);
    top: 28px;
    left: 40px;
  }

  &__icon-send {
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url(../../images/send-icon.svg);
    background-color: #262626;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    top: 20px;
    right: 28px;
  }
}
