<form name={{name}} class="form">
  <h2 class="form__title">{{title}}</h2>
  <div data-component="field-email"></div>
  <div data-component="field-password"></div>
  <div data-component="button"></div>
  <a href="{{href}}" class="form__link">{{link}}</a>
</form>