<form name={{name}} class="form form-login">
  <h2 class="form-login__title">{{title}}</h2>
  <div data-component="field-email"></div>
  <div data-component="field-password"></div>
  <div data-component="button"></div>
  <a href="{{href}}" class="form-login__link">{{link}}</a>
</form>