<form class="form form-auth">
  <h2 class="form-auth__title">{{title}}</h2>
  <div data-component="email"></div>
  <div data-component="login"></div>
  <div data-component="first-name"></div>
  <div data-component="second-name"></div>
  <div data-component="phone"></div>
  <div data-component="password"></div>
  <div data-component="button"></div>
  <a href="{{href}}" class="form-auth__link">{{link}}</a>
</form>