<form class="form">
  <h2 class="form__title">{{title}}</h2>
  <div data-component="field-email"></div>
  <div data-component="field-login"></div>
  <div data-component="field-first-name"></div>
  <div data-component="field-second-name"></div>
  <div data-component="field-phone"></div>
  <div data-component="field-password"></div>
  <div data-component="field-second-password"></div>
  <div data-component="button"></div>
  <a href="{{href}}" class="form__link">{{link}}</a>
</form>