.shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}

.popup {
  background-color:  var(--color-light);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
  max-width: 400px;
  margin: auto auto;

  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.1;
    text-align: center;
    color:  var(--color-dark);
    margin: 16px 0 40px 0;
  }
  &__close {
    width: 24px;
    height: 24px;
    background-image: url(../../../static/images/close-icon-dark.svg);
    position: absolute;
    top: 15px;
    right: 20px;
    width: 24px;

    &:hover {
      opacity: .5;
      cursor: pointer;
    }
  }
}