@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/OpenSans-Bold.woff2) format('woff2'),
    url(../fonts/OpenSans-Bold.woff) format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 500;
  font-style: normal;
  src: url( ../fonts/OpenSans-Medium.woff2) format('woff2'),
    url(../fonts/OpenSans-Medium.woff) format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  font-style: normal;
  src: url( ../fonts/OpenSans-Regular.woff2) format('woff2'),
    url(../fonts/OpenSans-Regular.woff) format('woff');
}