.root {
  background: linear-gradient(90deg, rgba(237, 66, 178, 0.6) 0%, rgba(229, 229, 229, 0) 102.26%), url(../images/Background.jpg) center/cover;
  width: 100vw;
  height: 100vh;
  font-family: "OpenSans", Arial, sans-serif;
  font-style: normal;
  color: #262626;
  background-repeat: no-repeat;
}