.root {
  background: linear-gradient(90deg, rgba(237, 66, 178, 0.6) 0%, rgba(229, 229, 229, 0) 102.26%), url(../images/Background.jpg) center/cover;
  width: 1440px;
  height: 800px;
  max-height: 960px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  color: #262626;
}