<div class="main">
  <div class="main__body">
    {{> menu}}

    <div class="main__sidebar-left">
      {{#if chat}}
      {{> sidebar}}
      {{/if}}
    </div>

    <div class="main__center">
      <div class="main__header">{{> header}}</div>
      <div class="main__msg">
        {{#each message}}
        {{> message}}
        {{/each}}
      </div>
      <div class="main__text-area">{{> textArea}}</div>
    </div>
  </div>
</div>