<div class="main">
  <div class="main__body">

    <div class="main__sidebar-left">
      <div data-component="menu"></div>
      <div data-component="sidebar"></div>
    </div>

    <div class="main__center">
      <div class="main__header">
        <div data-component="header"></div>
      </div>
      <div class="main__msg">
        <div data-component="message">
          <p class="default-text">Выберите чат чтобы отправить сообщение</p>
        </div>
      </div>
      <div class="main__text-area">
        <div data-component="text-area"></div>
      </div>
    </div>
  </div>
</div>