.main {
  width: 1200px;
  height: 650px;
  border-radius: 30px;
  background-color: #fff;
  padding: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
