@keyframes rotate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3);
  }
}

.edit-avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: url("../../../static/images/edit-icon.svg") no-repeat 50% 50%;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
    opacity: 0;
  }

  &:hover:before {
    opacity: 1;
    transform: scale(3);
    animation: rotate 0.5s;
  }

  &:before {
    background: rgba(0, 0, 0, 0.8);
    content: "";
    height: 40px;
    left: 75%;
    border-radius: 50%;
    margin: -60px 0 0 -50px;
    opacity: 0;
    position: absolute;
    top: 83%;
    width: 40px;
  }

  &:hover:after {
    opacity: 1;
  }
}
