<div class="header">
  <div class="header__centr">
    <div data-component="avatar"></div>
    <div>
      <p class="header__name">{{name}}</p>
      <p class="header__isOnline">{{isOnline}}</p>
    </div>
  </div>
</div>