<div class="header">
  <div class="header__left">
    <div class="menu"></div>
    <div class="search">
      <span class="search__text">Поиск</span>
      <span class="search__icon"></span>
    </div>
  </div>
  <div class="header__centr">
    {{> avatar}}
    <div>
      <p class="header__name">{{name}}</p>
      <p class="header__isOnline">{{isOnline}}</p>
    </div>
  </div>
</div>