<div class="card">
    <div class="card__avatar">
      <div data-component="avatar"></div>
    </div>
    <div class="card__info">
      <span class="card__text">{{login}}</span>
      <span class="card__text">{{email}}</span>
    </div>
  </div>
