<aside class="sidebar">
  <div class="sidebar__toolbarc">
    <div class="sort">
      <span class="text">Сортировать по</span>
      <span class="sort__arrow-bottom"></span>
    </div>
    <div class="add-use">
      <span class="text">Добавить пользователя</span>
      <span class="add-use__button"></span>
    </div>
  </div>
  <div class="sidebar__list-chat">
    {{#each chat}}
      {{> chat}}
    {{/each}}
  </div>
</aside>