.sidebar {
  width: 100%;
  max-width: 334px;
  box-sizing: border-box;
  height: 550px;
  border-right: 1px solid #e1e1e1;

  &__top {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box;
    padding: 31px 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__toolbarc {
    padding: 28px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-chat {
    padding: 0 27px;
  }
}

.sort {
  display: flex;
  align-items: center;

  &__arrow-bottom {
    width: 24px;
    height: 24px;
    background-image: url(../../images/arrow-bottom-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
  }
}

.add-use {
  display: flex;
  align-items: center;

  &__button {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #ba46e2;
    background-image: url(../../images/plus-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 9px;
  }
}

.text {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #999999;
  display: inline-block;
}
