<aside class="sidebar">
  <div class="header__left">
    <div class="menu-burger"></div>
    <input class="search" type="text" placeholder="Поиск">
      <span class="search__icon"></span>
  </div>
  <div class="sidebar__toolbarc">
    <div class="sort">
      <span class="text">Сортировать по</span>
      <span class="sort__arrow-bottom"></span>
    </div>
    <div class="add-use">
      <span class="text">Добавить пользователя</span>
      <span class="add-use__button"></span>
    </div>
  </div>
  <div class="sidebar__list-chat">
    <div data-component="chat"></div>
  </div>
</aside>