<form class="form form-profile">
  <div data-component="email"></div>
  <div data-component="login"></div>
  <div data-component="first-name"></div>
  <div data-component="second-name"></div>
  <div data-component="display-name"></div>
  <div data-component="phone"></div>
  <div class="form-profile__bottom">
    <div class="block-edit">
      <div class="form-profile__icon-edit"></div>
      <span class="form-profile__text-edit">Изменить пароль</span>
    </div>
    <div class="block-exit">
      <span class="form-profile__text-exit">Выйти</span>
      <div class="form-profile__icon-exit"></div>
    </div>
    
  </div>
  <div data-component="button"></div>
</form>